.collapse {
    flex-direction: column;
}

.collapse>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    cursor: pointer;
}

.collapse h2 {
    margin: 0px;
    color: white;
    padding-left: 20px;
}

.collapse>div:last-child {
    background-color: #f6f6f6;
    color: #ff6060;
}

.collapse.expanded>div:last-child {
    display: block;
}

.collapse.collapsed>div:last-child {
    display: none;
}