.error404 {
    height: 100%;
}

.error404 * {
    text-align: center;
}

.error404 h1 {
    color: #ff6060;
    font-size: 20vw;
    margin-top: 15vh;
    margin-bottom: 10px;
}

.error404 h2 {
    color: #ff6060;
    margin: 0px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0px;
}

.error404 a {
    color: #ff6060;
    text-decoration: underline;
}

.error404 p {
    margin-top: 17vh;
    margin-bottom: 20px;
}