nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

nav>div>a {
    color: #ff6060;
    text-decoration: none;
    font-weight: 500;
    text-align: right;
}

nav>div>a.active {
    text-decoration: underline;
}