.header-img {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img>img {
  position: absolute;
  top: 0px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.header-img>p {
  margin: 0px;
  position: relative;
  color: white;
  font-weight: 500;
}