.thumb {
    width: 340px;
    height: 340px;
    position: relative;
}

.thumb>img {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
}

.thumb-title {
    position: absolute;
    bottom: 0px;
    background-color: #33333399;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.thumb-title h2 {
    padding: 20px;
    margin: 0px;
    font-size: 18px;
    color: white;
    font-weight: 300;
}